# H1: Data Science Tools and Ecosystem

**Objectives:**

- List popular languages for Data Science.
- Identify commonly used libraries by Data Scientist.
- Present various open source data science tools.
- Exemplify arithmetic expressions in Python.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Java
    4. C++

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    2. Matplotlib
    3. Scikit
    4. Scala
    5. ggplot2

| Data Science Tools |
| ------------- |
| Jupyter |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expressionto mutiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [2]:
200/60

3.3333333333333335

## Author

    Miguel Cruz